:root {
    --primary-color: #0b3d91; /* Deep Space Blue */
    --menu-color: #2c3e50; /* Midnight Blue */
    --header-color: #34495e; /* Wet Asphalt */
    --footer-color: #2c3e50; /* Midnight Blue */
    --secondary-color: #1f77b4; /* Nebula Blue */
    --accent-color: #ff6f61; /* Rocket Red */
    --background-color: #000000; /* Space Black */
    --star-color: #ffffff; /* Star White */
    --planet-color: #f4d03f; /* Planet Yellow */

    --light-theme-background: #ffffff; /* White */
    --light-theme-text: #000000; /* Black */
    --dark-theme-background: #121212; /* Dark Grey */
    --dark-theme-text: #e0e0e0; /* Light Grey */
}