// AudioItem

.audio-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  width: 100%;
  padding: 5px;
  background-image: var(--item-style-1);
  background-blend-mode: overlay, overlay, normal;
  border-radius: 5px !important;

  .audio-info {
    overflow: hidden;
    width: 100%;

    .audio-name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .audio-progress {
      width: 100%;
      align-self: center;
    }
  }

  .audio-actions {
    text-decoration: none;
    padding: 5px;
    margin: 0 5px;
  }
}
