.body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  min-width: 360px;
}

.container {
  max-width: 1532px;
  min-width: 288px;
  padding: 0 16px;
  margin: 0 auto;
}

.second_fonts {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.image-response {
  max-width: 100%;
  height: auto;
}

.app {
  background: var(--main-bg);
  background-blend-mode: overlay, overlay, normal;
  display: flex;
  color: var(--white);
  height: 100vh;

  .app-content {
    flex-grow: 1;
    padding: 5px;
    overflow-y: auto;
  }
}

.albums-list-container {
  overflow: auto;
}
