@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

:root {
	/* Colors */
	--blackpure: #000;
	--black: #171718;
	--black-border: #26292d;
	--white: #fff;
	--purple: #5c62ec;

	/* Nav */
	--nav-bg: var(--black);
	--nav-border: var(--black-border);
	--nav-text: var(--white);

	/* Header */
	--header-bg: var(--black);
	--header-text: var(--white);

	/* Footer */
	--footer-bg: var(--black);
	--footer-text: var(--white);

	/* Light mode */
	--page-bg: var(--white);
	--text-color: var(--black);
	--accent: var(--purple);
	--title-1: var(--accent);

	--project-card-bg: var(--white);
	--project-card-text: var(--black);
	--box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
}

.dark {
	/* Dark mode */
	--page-bg: #252526;
	--text-color: var(--white);

	--title-1: var(--white);

	--project-card-bg: var(--black);
	--project-card-text: var(--white);
	--box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.8);
}

html,
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	font-family: 'DM Sans', sans-serif;
	letter-spacing: -0.5px;

	/* Light mode */
	background-color: var(--page-bg);
	color: var(--text-color);
}

/* General */

.container {
	max-width: 1230px;
	min-width: 290px;
	padding: 0 15px;
	margin: 0 auto;
}

.none {
	display: none !important;
}

.section {
	padding: 70px 0;
	height: 100%;
}

.section__wrapper {
	display: flex;
	flex-direction: column;

	@media (min-width: 768px) {
		flex-direction: row;
		justify-content: space-between;
	}
}

.section__wrapper ul {
	text-align: center;
	width: 100%;
	margin-bottom: 20px;
	
	@media (min-width: 768px) {
		width: 50%;
		margin-bottom: 0px;
	}
}

.title-1 {
	margin-bottom: 60px;
	font-size: 60px;
	font-weight: 700;
	line-height: 1.3;
	color: var(--title-1);
	text-align: center;
}

.title-2 {
	margin-bottom: 20px;

	font-size: 40px;
	font-weight: 700;
	line-height: 1.3;
}

.main-content-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: var(--title-1);
  margin-bottom: 10px;
}
/* Projects  */

.projects {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: 20px;
	row-gap: 20px;
}

/* Project details */

.project-details {
	margin: 0 auto;
	max-width: 865px;

	display: flex;
	flex-direction: column;
	align-items: center;

	text-align: center;
}

	.project-details iframe {
		width: 100%;

		@media (miin-width: 850px) {
			width: 850px;
		}
	}

.project-details__cover {
	max-width: 100%;
	margin-bottom: 40px;

	box-shadow: var(--box-shadow);
	border-radius: 10px;
}

.project-details__desc {
	margin-bottom: 30px;

	font-weight: 700;
	font-size: 24px;
	line-height: 1.3;
}

.project-details__desc a:hover {
	text-decoration: underline;
	color: blue;
}

/* Content list */

.content-list {
	margin: 0 auto;
	max-width: 570px;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 40px;
	text-align: center;
}

.content-list a {
	color: var(--accent);
}

.content-list__item {
	font-size: 18px;
	line-height: 1.5;
}

.content-list__item p + p {
	margin-top: 0.5em;
}

.my-education {
  color: #fb6d3a;
}

.my-term-of-stady {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 10px;
}

.bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

@media (max-width: 620px) {
	/* Header  */

	.header {
		min-height: unset;
	}

	.header__title {
		font-size: 30px;
	}

	.header__title strong {
		font-size: 40px;
	}

	/* Nav */

	.nav-row {
		justify-content: space-between;
	}

	.dark-mode-btn {
		order: 0;
	}

	/* General */

	.section {
		padding: 40px 0;
	}

	.title-1 {
		margin-bottom: 30px;
		font-size: 40px;
	}

	.title-2 {
		margin-bottom: 10px;
		font-size: 30px;
	}

	/* Projects */

	.project__title {
		font-size: 22px;
	}

	/* Project page */

	.project-details__desc {
		margin-bottom: 20px;
		font-size: 22px;
	}

	/* Content List */

	.content-list {
		row-gap: 20px;
	}

	.content-list__item {
		font-size: 16px;
	}

	/* Footer */

	.footer {
		padding: 40px 0 30px;
	}

	.footer__wrapper {
		row-gap: 20px;
	}

	/* Social */

	.social {
		column-gap: 20px;
	}

	.social__item {
		width: 28px;
	}
}
